@if (devices.devices().length > 1) {
  <mat-button-toggle-group
    hideSingleSelectionIndicator
    [value]="devices.selectedId()"
    (change)="devices.selectedId.set($event.value)"
    [attr.aria-label]="i18n.t('devices.label')"
  >
    @for (device of devices.devices(); track device.id) {
      <mat-button-toggle [value]="device.id">{{ deviceName(device) }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
}
<button mat-stroked-button type="button" class="manage" (click)="openDevices()">
  {{ i18n.t(devices.devices().length > 1 ? 'devices.manage' : 'devices.addOther') }}
</button>
